{#-
  Lien vers le dépôt, sans les statistiques GitHub : Material les récupère depuis
  api.github.com à chaque visite, ce qui contacte un service tiers. Le lien seul est conservé.
-#}
<a href="{{ config.repo_url }}" title="{{ lang.t('source') }}" class="md-source">
  <div class="md-source__icon md-icon">
    {% set icon = config.theme.icon.repo or "fontawesome/brands/git-alt" %}
    {% include ".icons/" ~ icon ~ ".svg" %}
  </div>
  <div class="md-source__repository">
    {{ config.repo_name }}
  </div>
</a>
